body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;

}

.container-wrapper {
    display: flex;
    justify-content: flex-start;

}

#login-container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

#login-container input {
    display: block;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 10px;

}

#main-container {
    position: fixed;
    left: 0;
    top: 150px;
    width: 250px;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left:9%;
    margin-right: auto;

}

#main-container button {
    display: block;
    width: 100%; /* Largura fixa para todos os botões */
    margin-bottom: 5px; /* Ajuste conforme necessário */
    line-height: 30px; /* Ajuste conforme necessário para centralizar verticalmente o texto */
    border-radius: 10px;

}

#atletas-container {
    display: flex;
    margin-left: 0px;
    /*padding: 0px;*/
    width: 1280px;
    max-height: 100%;
    /*object-fit: cover;*/

}

.cartao {
    width: 280px;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 20px;
    text-align:center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.cartao img {
    max-width: 100%;
    height: auto;
    margin-top: 6px;
    margin-bottom: 6px;
    border-radius: 10px;

}

.cartao button {
    display: block;
    margin: 6px auto;

}


#detalhes-container {
    position: fixed;
    right: 60px;
    top: 60px;
    width: 300px;
    text-align: left;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /*margin-right:9%;*/

}

#detalhes-container img {
    max-width: 100%;
    height: auto;
    margin-top: 8px;
    border-radius: 10px;
    display: block;
    margin: auto;

}

#detalhes-container button {
    display: block;
    margin: auto;

}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;

}

.red-text-button {
    color: rgb(230, 70, 70);

}
